extends ../layout

block header
  include ../_header
  script(type='text/javascript', src='/javascripts/3rdparty/flot/jquery.flot.js')
  script(type='text/javascript', src='/javascripts/3rdparty/flot/jquery.flot.time.js')
  script(type='text/javascript', src='/javascripts/3rdparty/flot/jquery.flot.selection.js')

block content

  each dashboardPlugin in renderedDashboardPlugins
    !{dashboardPlugin}

