.full-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
}

.absolute-center{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.box-shadow{
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

body{
  margin: 0;
  padding: 0;
  .full-overlay;
  font-family: @font-family;
  font-size: @font-size;
}

input[type=text], input[type=password], textarea{
  border: 1px solid #ddd;
  border-radius: 1px;
}

a{ 
  color: @link-color; 
  text-decoration: none; 
}

.pull-right{ float: right; }
.pull-left{ float: left; }

.main-container{
  background-color: @background;
  .full-overlay;
}

.konter-bar{
  background: url('/stylesheets/themes/default/images/bg-transition.png') #ffc200;
  height: 60px;
  width: 100%;
  .logo{
    background: url('/images/logo-box.png');
    width: 71px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 12px;
  }
  .account-info-container{
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0,0,0,0.12);
    background: url('/stylesheets/themes/default/images/account-info-transition.png');
    border-radius: 1px;
    min-width: 100px;
    height: 44px;
    display: inline-block;
    .account-picture{
      background: url('/images/user_256x256.png');
      background-size: cover;
      width: 36px;
      height: 36px;
      border-radius: 1px;
      margin: 4px;
      display: inline-block;
      float: left;
    }
    .actions{
      display: inline-block;
      margin: 12px 5px;
    }
    .vertical-user-actions-stack{
      float: left;
      width: 20px;
      margin-top: -10px;
      margin-left: 10px;
      border-left: 1px solid rgba(0,0,0,0.2);
      padding: 0 4px;
      a{
        border: none;
        margin-bottom: 2px;
        line-height:16px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding: 0 5px 3px 5px;
        &:last-child{
          border: none;
          margin: -1px 0 0 0;
          padding: 0 5px;
        }
      }
    }
    a{
      float: left;
      font-size: 0.9em;
      opacity: 0.6;
      &.name{
        font-weight: 600;
        font-size: 1.1em;
      }
      .icon{
        margin-right: 1px;
        float: left;
        margin-top: 3px;
      }
      &:hover{
        opacity: 1;
      }
    }
  }
}

.icon-bar{
  background: url('/stylesheets/themes/default/images/side-bar-transition.png') #444;
  position: absolute;
  top: 60px;
  left: 0;
  width: 60px;
  bottom: 0;
  a{
    width: 60px;
    height: 54px;
    display: block;
    padding: 3px 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    position: relative;
    background: transparent;
    .icon-large{
      .absolute-center;
      right: 3px;
      bottom: 10px;
      opacity: 0.5;
    }
    .text{
      .absolute-center;
      top: auto;
      bottom: 5px;
      right: 7px;
      font-size: 9px;
      font-weight: 100;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.5;
      text-align: center;
    }
    &:hover{
      background: rgba( 0, 0, 0, 0.3 );
      .icon-large, .text{ opacity: 0.8; }
    }
    &.active{
      .icon-large, .text{ opacity: 1; }
      .icon-large{ background-image: url('/stylesheets/3rdparty/glyphicons/glyphicons-orange.png') }
    }
  }
}

.content-wrapper{
  position: absolute;
  top: 65px;
  left: 65px;
  right: 0;
  bottom: 0;
  background: @default-gradient;
  box-shadow: -3px -3px 10px #333;
  z-index: 2;
}

.dashboard-plugin{
  min-width: 100px;
  min-height: 100px;
  float: left;
  margin: 10px;
  border: 1px solid #ccc;
  background: @default-gradient;
  .box-shadow;
  position: relative;
}

.dashboard-plugin-header{
  background-color: #aaa;
  padding: 5px;
  font-size: 0.9em;
  color: #222;
}

.dashboard-plugin-body{
  margin-bottom: 10px;
  padding: 10px;
}

.dashboard-plugin-footer{
  height: 10px;
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 3px;
  border-top: 1px solid #cfcfcf;
}