konter.requireTmpl( '/users/tmpls/details.html', function(){
  if( $('.user-details.user-details-container.default-content').length < 1 )
    $('#content-wrapper').html( '<div class="user-details user-details-container default-content" data-bind="template: { name: \'user-details-tmpl\' }"></div>' );
  ko.applyBindings( <%- JSON.stringify(user) %>, $("#content-wrapper .user-details").get(0) );
  $('#select-user-groups').kendoMultiSelect({ change: setUserGroups }).data('kendoMultiSelect');
  $('#select-user-roles').kendoMultiSelect({ change: setUserRoles }).data("kendoMultiSelect");
});

function setUserGroups( e ){
  console.log('setusergroups');
}

function setUserRoles( e ){
  console.log('setusergroups');
}