!!! 5
html
  head
    title=(typeof(konter) !== 'undefined' && konter.config && konter.config.site && konter.config.site.title ? konter.config.site.title : '') + ' OUPS! (500)'
  body
    h1 OUPS!
    p Something went wrong

    div=error