title=konter.config.site.title

// kendo ui -- be aware of the GPLv3 of kendo
//link(rel='stylesheet', href='/stylesheets/3rdparty/kendoui/kendo.common.min.css')
//link(rel='stylesheet', href='/stylesheets/3rdparty/kendoui/kendo.css')
link(rel='stylesheet', href='/stylesheets/3rdparty/bootstrap.icon.css')
link(rel='stylesheet', href='/stylesheets/3rdparty/bootstrap.icon-large.min.css')

// jquery ui
link(rel='stylesheet', href='/stylesheets/3rdparty/jquery-ui-absolution.css')

//link(rel='stylesheet', href='/stylesheets/3rdparty/jquery.Jcrop.min.css')
//link(rel='stylesheet', href='/stylesheets/3rdparty/ioco-jquery-ui/jquery-ui-1.9.1.custom.css')

link(rel='stylesheet', href='/stylesheets/themes/default/default.css')

script(type='text/javascript', src='/javascripts/3rdparty/jquery-2.0.2.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery-ui-1.10.3.custom.min.js')

script(type='text/javascript', src='/javascripts/3rdparty/moment-2.0.0.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/moment-langs/de.min.js')

script(type='text/javascript', src='/javascripts/3rdparty/globalize.min.js')

// kendo ui
//script(type='text/javascript', src='/javascripts/3rdparty/kendo.core.min.js')
//script(type='text/javascript', src='/javascripts/3rdparty/kendo.data.min.js')
//script(type='text/javascript', src='/javascripts/3rdparty/kendo.web.min.js')
//script(type='text/javascript', src='/javascripts/konter.kendoui-addons.js')

//script(src='/socket.io/socket.io.js')
script(type='text/javascript', src='/javascripts/konter.core.js')
script(type='text/javascript', src='/javascripts/konter.xhr.js')

if culture
  script(type='text/javascript', src='/javascripts/3rdparty/cultures/globalize.culture.#{culture}.js')
  script(type='text/javascript', src='/cultures/#{culture}.js')
